/* Music Frame Section */

.music-frame {
    padding: 50px 20px;
    background-color: #fff5f5;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.music-frame h1 {
    font-size: 36px;
    color: #ff6b6b;
    margin-bottom: 20px;
}

.music-frame p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}

#music {
  padding-top: 80px; /* Adjust the padding value as needed */
}



/* Album Gallery */
.album-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.album-gallery a {
    text-decoration: none;
    color: #333;
    width: 200px;
}

.album-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.album-gallery p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ff6b6b;
}

/* Arrow Button */
.arrow-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.arrow-button a {
    text-decoration: none;
    color: #ff6b6b;
    font-size: 40px;
    transition: color 0.3s ease;
}

.arrow-button a:hover {
    color: #ff9a9e;
}

/* Singles Frame Section */
.singles-frame {
    padding: 50px 20px;
    background-color: #fff5f5;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.singles-frame h2 {
    font-size: 36px;
    color: #ff6b6b;
    margin-bottom: 20px;
}
