/* General Reset and Body Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Pink color and styling to all h2 elements */
h2 {
    font-size: 36px;
    color: #ff6b6b; 
    margin-bottom: 20px; 
    text-align: center; 
    text-transform: uppercase; 
}


/* Cursor 
html {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23FF6B6B" stroke-width="2" stroke-linejoin="round" d="M12 8S9.75 5 7 5a4.5 4.5 0 0 0-4.5 4.5C2.5 14.5 12 20 12 20s9.5-5.5 9.5-10.5A4.5 4.5 0 0 0 17 5c-2.75 0-5 3-5 3Z"></path></svg>'), auto;
  }

Override hand cursor for links, buttons, and other clickable elements on hover 
a:hover, button:hover, .custom-pointer-element:hover {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23FF6B6B" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto;
}
*/

  
body {
    font-family: "Poppins" , sans-serif;
    background-color: #ffe4e1;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .profile-list,
    .profile-info {
        flex-basis: 100%;
    }



    .history-section {
        padding-left: 20px;
    }
 
    .timeline-item {
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }

    .timeline-item:nth-child(odd) {
        left: 0;
        text-align: left;
        padding-left: 50px;
    }

    .timeline-item:nth-child(even) {
        left: 0;
        text-align: left;
        padding-left: 50px;
    }

    /* Responsive Design for Music Frame */
@media (max-width: 768px) {
    .album-gallery {
        flex-direction: column;
        gap: 30px;
    }
    
    .album-gallery a {
        width: 100%;
    }
}
}
